<html>
  <head>
    <title>SUMMARY</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script type="text/javascript">
      window.onload = function() { window.print(); }
    </script>
    <style>
      @page {
        size: auto;
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 3mm;
        margin-left: 3mm;
      }
      table {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: 100%;
      }
      td, th {
        border-top: 1px solid black;
      }
      thead {
        border: 1px solid black;
      }
      tfoot {
        border-top: 1px solid black;
      }
    </style>
  </head>
  <body>
    <header>
    &nbsp;&nbsp;&nbsp;<div><h4><b>SOLIMAN E.C. SEPTIC TANK DISPOSAL</b></h4></div>
    <hr>
    <span class="pull-left">SUMMARY</span><span class="pull-right"><b>Payperiod: </b><i><%= @payperiod.from %> to <%= @payperiod.to %></i></span>
    </header>
    <main>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>TOTAL AMOUNT</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <th>REGULAR:</th><td><%= :erlang.float_to_binary( @totals.totalreg, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>OVERTIME PAY:</th><td><%= :erlang.float_to_binary( @totals.totalot, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>REST DAY:</th><td><%= :erlang.float_to_binary( @totals.totalrd, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>LEAVE W/PAY:</th><td><%= :erlang.float_to_binary( @totals.totalsl + @totals.totalvl, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>HOLIDAY PAY:</th><td><%= :erlang.float_to_binary( @totals.totalho, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>RICE:</th><td><%= :erlang.float_to_binary( @totals.totalrice, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>COMMUNICATION:</th><td><%= :erlang.float_to_binary( @totals.totalcomm, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>MEAL:</th><td><%= :erlang.float_to_binary( @totals.totalmeal, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>TRANSPORTATION:</th><td><%= :erlang.float_to_binary( @totals.totaltranspo, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>GASOLINE:</th><td><%= :erlang.float_to_binary( @totals.totalgasoline, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>CLOTHING:</th><td><%= :erlang.float_to_binary( @totals.totalclothing, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>OTHER PAYS:</th><td><%= :erlang.float_to_binary( @totals.totalop, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>TOTAL GROSS:</th><td><%= :erlang.float_to_binary(@totals.totalgross, [decimals: 2]) %></td>
          </tr>

          <tr>
            <th>SSS:</th><td><%= :erlang.float_to_binary(@totals.totalsss, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>PHILHEALTH:</th><td><%= :erlang.float_to_binary(@totals.totalphilhealth, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>PAGIBIG:</th><td><%= :erlang.float_to_binary(@totals.totalpagibig, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>TARDINESS:</th><td><%= :erlang.float_to_binary(@totals.totaltardiness, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>UNDER TIME:</th><td><%= :erlang.float_to_binary(@totals.totalundertime, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>ABSENCES:</th><td><%= :erlang.float_to_binary(@totals.totalabsences, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>TAX W/HELD:</th><td><%= :erlang.float_to_binary(@totals.totaltax, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>HEALTH CARE:</th><td><%= :erlang.float_to_binary(@totals.totalhmo, [decimals: 2]) %></td>
          </tr>

          <tr>
            <th>SSS LOAN:</th><td><%= :erlang.float_to_binary(@totals.totalsssloan, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>PAGIBIG LOAN:</th><td><%= :erlang.float_to_binary(@totals.totalpagibigloan, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>OFFICE LOAN:</th><td><%= :erlang.float_to_binary(@totals.totalofficeloan, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>BANK LOAN:</th><td><%= :erlang.float_to_binary(@totals.totalbl, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>FELICIANA:</th><td><%= :erlang.float_to_binary( @totals.totalfel, [decimals: 2]) %></td>
          </tr>

          <tr>
            <th>DEDUCTIONS:</th><td><%= :erlang.float_to_binary(@totals.totaldeductions, [decimals: 2]) %></td>
          </tr>
          <tr>
            <th>TOTAL NET:</th><td><%= :erlang.float_to_binary( @totals.totalnet, [decimals: 2]) %></td>
          </tr>

      </tbody>
      <tfoot>
      </tfoot>
    </table>
    </main>

      <footer>
      <i>This is computer generated.</i>
      </footer>
  </body>
</html>
