<h2>Show Holiday</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @holiday.name %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @holiday.type %>
  </li>

  <li>
    <strong>Date:</strong>
    <%= @holiday.date %>
  </li>

</ul>

<span><%= link "Edit", to: holiday_path(@conn, :edit, @holiday) %></span>
<span><%= link "Back", to: holiday_path(@conn, :index) %></span>
