<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Soliman E.C. | Payroll System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- navigation -->
    <nav class="navbar navbar-inverse border-radius-0">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.solimanec.com">Soliman E.C. Payroll System</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;Employees
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link to: employee_path(@conn, :new) do %>
                    <span class="glyphicon glyphicon-plus"></span><%= " Add New" %>
                  <% end %>
                </li>
                <li>
                  <%= link to: employee_path(@conn, :index) do %>
                    <span class="glyphicon glyphicon-cog"></span><%= " Manage Records" %>
                  <% end %>
                </li>
              </ul>
            </li>
            <li>
              <%= link to: holiday_path(@conn, :index) do %>
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;<%= " Holidays"%>
              <% end %>
            </li>
            <li>
              <%= link to: payroll_path(@conn, :index) do %>
                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>&nbsp;<%= " Loans"%>
              <% end %>
            </li>
            <li>
              <%= link to: payroll_path(@conn, :index) do %>
                <span class="glyphicon glyphicon-folder-open"></span>&nbsp;<%= " Payroll"%>
              <% end %>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li>
                <a href="#" class="dropdown-toggle"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <!-- <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p> -->
      <!-- <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p> -->
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
